.footer {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
    background: linear-gradient($color-header,$color-back,$color-footer);

        &_title {
            text-align: center;
            padding: 5px 0 10px 0;
        }
        
        &_link {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 5px 0 5px 0;
        }

        &_title , &_link span {
            font-family: $font-family;
            font-weight: $fontweight;
            color: white;
        }
}