//Page d'accueil
.page , .page_content--top {
    background-image: url(../image/mobile.jpg);
    background-attachment: fixed;
    background-position: center;
    text-align: center;

    @include for-mobile {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 685px;
    }
    @include for-mini-tablet {
        background-size: contain;    
        width: 100%;
        height: 1000px;
    }

    &_title {
        color: black;
        @include for-mobile {
            font-size: 20px;
            padding-top: 50%;
        }
        @include for-mini-tablet {
            padding-top: 30%;
            font-size: 25px;
        }
        @include for-tablet {
            font-size: 35px;
        }
    }
    &_subtitle {
        padding-top: 50px;
        color: black;
        @include for-mobile {
            font-size: 20px;
        }
        @include for-mini-tablet {
            font-size: 30px;
        }
        @include for-tablet {
            font-size: 40px;
        }
    }

    &_content span ,&_content h1, &_content h2, &_content h3 {
        font-family: $font-title;
        font-weight: $fontweight;
    }

    &_content span, &_content h3 {
       color: white; 
    } 
}

