.cards {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px 15px;
}

.card {
    border-radius: 20px;
    margin-bottom: 20px;
    background: $color-backcard;
    box-shadow: -10px 0px 13px -7px black, 10px 0px 13px -7px black, 12px 0px 7px 1px rgba(0,0,0,0);
    

    &_img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    &_title {
        text-align: center;
        font-family: $font-title;
        padding: 5px;
    }
    
    &_legend {
        padding: 10px;
        justify-content: justify;
        font-family: $font-text;
    }

    &_end--title {
        font-size: 20px;
        font-family: $font-title;
        text-align: center;
        color: white;
        background-color: $color-footer;
        border-radius: 10px 10px 0px 0px;
    }
}