//colors
$color-header:#255793;
$color-footer:#59A7C5;
$color-back:#74BFCA;
$color-border:#1D457A;
$color-card:#93B1CF;
$color-backcard:#eff2f3;

//font
$fontweight: bold;

//police
$font-title: 'Abril Fatface', cursive;
$font-text: 'Lora', serif;